go 1.18

use (
	./
)

// =====================================================================================================
// NOTE:
// Please update associated commands in ../../.set_version.sh if any of the follows replacements change.
// =====================================================================================================

replace (
	github.com/joy12825/gf/contrib/drivers/clickhouse/v2 => ../../contrib/drivers/clickhouse
	github.com/joy12825/gf/contrib/drivers/mssql/v2 => ../../contrib/drivers/mssql
	github.com/joy12825/gf/contrib/drivers/mysql/v2 => ../../contrib/drivers/mysql
	github.com/joy12825/gf/contrib/drivers/oracle/v2 => ../../contrib/drivers/oracle
	github.com/joy12825/gf/contrib/drivers/pgsql/v2 => ../../contrib/drivers/pgsql
	github.com/joy12825/gf/contrib/drivers/sqlite/v2 => ../../contrib/drivers/sqlite
	github.com/joy12825/gf/contrib/drivers/dm/v2 => ../../contrib/drivers/dm
	github.com/joy12825/gf/v2 => ../../
)
